.App {
  /* text-align: center; */
  margin: 0 auto;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-header {
  height: 10%;
}

.display-user {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-bottom: 5vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
