.error {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  text-align: center;
  margin-top: 2vh;
}

.form-update {
  box-shadow: 0 4px 8px 0 rgba(90, 79, 189, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  background-color: #ffffff;
  height: 100%;
  width: 40%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.form-row1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 2px;
}

.input-label {
  width: 100%;
  margin-left: 10px;
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
  padding-right: 20px;
}

.input-field {
  width: 10vw;
  margin-right: 10px;
  margin: 5px;
  padding: 10px;
  align-items: flex-end;
}
.form-row2 {
  margin: 20px;
  align-items: flex-end;
}
.form-row3 {
  margin: 20px;
  font-weight: 700;
}
.welcome {
  font-size: 1.2vw;
  color: rgb(67, 18, 114);
  font-weight: bold;
}
