.display-container {
  display: flex;
  background-color: #fff;
  box-sizing: border-box;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  line-height: 21px;
}

.display-table {
  width: 100%;
  color: #333;
  box-shadow: none;
  vertical-align: middle;
}

.table-header {
  min-width: 600px;
  display: flex;
  justify-content: space-between;
}

.name {
  color: #0b3841;
}
