.error {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.form-container {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px 10px;
  width: 70vw;
  height: 50vh;
  text-align: center;
}

.form-update {
  box-shadow: 0 4px 8px 0 rgba(90, 79, 189, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  background-color: #ffffff;
  height: 100%;
  width: 40%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.form-row1 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}

.input-label {
  width: 100%;
  margin-left: 10px;
  text-align: center;
}

.input-field {
  margin-right: 10px;
}
.form-row2 {
  margin: 20px;
}
.form-row3 {
  margin: 20px;
  font-weight: 700;
}
