body {
  background-color: #c1c1c1;
  box-sizing: border-box;
}

.login-wrapper {
  display: flex;
  margin-top: 2vh;
  height: 50vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  background-image: url(./bg2.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.8;
}
