body {
  /* background-color: #c1c1c1; */
  box-sizing: border-box;
}

.login-wrapper {
  display: flex;
  margin-top: 2vh;
  height: 50vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  background-image: url(./bg2.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.8;
}

.login-title {
  margin-top: 2vh;
  font-size: 20px;
  font-weight: bold;
  color: rgb(65, 13, 207);
  padding: 5px;
}

form {
  margin-top: 7vh;
  margin-bottom: 3vh;
}

.singup-msg {
  font-size: 15px;
  text-decoration: underline;
  color: rgb(231, 15, 15);
  z-index: 1;
}
