.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.columns {
  display: flex;
  background-image: url("./Footer-Blue-Banner.png");
  margin-top: 10px;
  height: 10vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.copyright {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 15px;
}
